<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result user check</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <p>
            Выбран пользователь: <%= username %>
            <br>Результат проверки: <%= chekResult %>
        </p>

        <input type="button" value="Назад" onClick='location.href= "/"'>
    </main>
</body>

</html>
   

</html>